@font-face {
    font-family: 'faune-regular';
    src: url('/fonts/Faune-Text_Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'faune-italic';
  src: url('/fonts/Faune-Text_Italic.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'faune-black';
  src: url('/fonts/Faune-Display_Black.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'faune-italic-bold';
  src: url('/fonts/Faune-Display_Bold_Italic.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'karla';
  src: url('/fonts/karla.regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size:10px;
}

body {
  font-size:18px;
  color:$black;
}

h1, h2, h3, h4, h5, h6, {
  font-size: 5rem;
  font-family: 'faune-regular';
  font-weight: 600;
  letter-spacing:-1px;
}

a {
  text-decoration: none;
  color:$black;
}

p a {
  border-bottom: 2px solid yellow;
}

p {
  line-height: 2;
  font-size: 1.6rem;
}