$sky-blue: #92BBDB;
$very-cherry: #F67C6D;
$piggy-pink: #FCC6CD;
$banana-yellow: #FFB500;
$midnight: #1B3B6C;
$palm-green: #AAC7B1;
$black: #111118;
$grey: #58585D;
$medium-grey: #B7B7B9;
$light-grey: #DBDBDC;
$snow-white: #F6F6F6;

$width: 1244px;



